.header {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--text-color);
  padding: 0 24px;
}

.header .icon {
  cursor: pointer;
  margin-right: 24px;
}

.header .logo {
  font-family: 'Special Elite', cursive;
  font-size: 29px;
  user-select: none;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.header .theme-select {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}